.container {
    /*width: 100px;*/
    display: flex;
    margin: 0 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.label {
    color: #460884;
    font-size: larger;
    font-weight: bold;
}