.main {

    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    display: flex;

}

.farm {
    width: 800px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 25px 0;
    border: 1px solid #3c3c3d;
    border-radius: 10px;

}

.stats {
    width: 700px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-bottom: 15px;
}

.inputContainer label {
    color: #1a1e21;
    font-size: larger;
    font-weight: bold;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}