.main {

    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    display: flex;
}

.farm {
    width: 600px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.stats {
    display: flex;
    flex-direction: row;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

.inputContainer label {
    height: 60px;
    line-height: 40px;
    color: #1a1e21;
    font-size: larger;
    font-weight: bold;
}