.container {
    /*width: 100px;*/
    display: flex;
    margin: 0 25px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

.label {
    color: #460884;
    font-size: larger;
    font-weight: bolder;
    width: 100%;
}